<div>
    <h1>PRODUCTS</h1>
    {{#each prods}}
        <ul>
            <li><b>Title: </b>{{this.title}}</li>
            <li><b>Description: </b>{{this.description}}</li>
            <li><b>Price: </b>{{this.price}}</li>
        </ul>
    {{/each}}
</div>