<h1>Crea una nueva contraseña</h1>
<hr>
<form class="m-2"   action="/session/resetpassword/{{ this.email }}" method="post">
    Nueva contraseña: <input  type="text" name="newPassword"> <input class="btn btn-primary m-2" type="submit" value="Cambiar contraseña"><br><br> 
</form>
<button  class="btn btn-primary m-2" onclick="location.href='/session/login'">Login</button>
<button   class="btn btn-primary m-2" onclick="location.href='/session/register'">Registrate</button>